.km-root .k-dropdown .k-input {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.km-root .k-dropdown-wrap,
.km-root .k-dropdown .k-select {
    -webkit-background-clip: border-box;
    background-clip: border-box;
    display: block;
}
.button {
    margin-left: .5em;
    text-align: center;
}
.km-root .selected-button {
    color: #fff;
    background-color: #f60;
}

/* solid filled buttons in iOS7 should override the border-color */

.km-ios7 .selected-button {
    border-color: transparent;
}
.button:first-of-type {
    margin-left: 1em;
}
.km-flat .km-popup .k-list-container {
    height: 70% !important
}
.k-list-scroller {
    height: 100% !important;
}
.km-modalview .km-scroll-container {
    text-align: center;
}
.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}
.k-dropdown-wrap {
    height: 35px;
}
.k-dropdown-wrap .k-input {
    height: 2em;
    line-height: 2em;
}
.btn-primary {
    background: #10c4b2; !important
    border-color: #0b8e81; !important
} 
.btn-primary:hover {
    background: #0b8e81; !important
    border-color: #075f56; !important
}
.btn-xlg {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 18px 0;
}
label.btn span {
    font-size: 1.5em;
}
label input[type="radio"] ~ i.fa.fa-circle-o {
    color: #10c4b2;
    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o {
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o {
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o {
    color: #0b8e81;
    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
    color: #0b8e81;
}